<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerShell Terminal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="terminal">
        <div class="output" id="output"></div>
        <div class="input">
            <input type="file" id="inputFile" multiple>
            <input type="text" id="inputCommand" placeholder="Escribe tu comando de PowerShell aquí..." autocomplete="off">
            <button id="submitCommand">Ejecutar</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var outputDiv = $('#output');
            var inputFile = $('#inputFile');
            var inputCommand = $('#inputCommand');
            var submitCommand = $('#submitCommand');

            function getOutput() {
                $.ajax({
                    url: '/get_output',
                    success: function(response) {
                        outputDiv.html('');
                        if (response.stdout) {
                            outputDiv.append('<pre>' + response.stdout + '</pre>');
                        }
                        if (response.stderr) {
                            outputDiv.append('<pre class="error">' + response.stderr + '</pre>');
                        }
                        outputDiv.scrollTop(outputDiv[0].scrollHeight);
                    }
                });
            }

            submitCommand.click(function() {
                var command = inputCommand.val().trim();
                if (command !== '') {
                    var formData = new FormData();
                    var files = inputFile[0].files;
                    for (var i = 0; i < files.length; i++) {
                        formData.append('files', files[i]);
                    }
                    formData.append('command', command);

                    $.ajax({
                        url: '/run_command',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            if (response.status === 'success') {
                                inputCommand.val('');
                                inputFile.val('');
                                getOutput();
                            } else {
                                alert('Error: ' + response.message);
                            }
                        }
                    });
                }
            });

            setInterval(getOutput, 1000);  // Update output every second
        });
    </script>
</body>
</html>
